<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ok</title>
</head>
<body>
    <h1> Jo Staffs !</h1>
    <form
            method="get"
            th:action="@{/tasks}">

        <select name="id">
            <option th:each="staff: ${staffs}"
                    th:value="${staff.id} "
                   th:text="${staff.firstName} +' '+ ${staff.lastName}"></option>
        </select>
        <input type="submit" value="Tasks"></input>

    </form>

</body>
</html>